* {
    margin: 10px;
}

header {
    height:100px;
    width: 100vw;
}

/*@media only screen and (min-width: 786) {

    .section{
        height: 200px;
}*/

h1 {
    font-family: cursive;
    text-align: left;
    font-size: 18pt;
}
  
h2 {
    font-size: 15pt;
}
  a {
    text-decoration: none;
    color: white;
    background-color: #064172;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18pt;
    margin: 20px;
  }

  div.leftTitle {
    font-family: cursive;
    justify-content: flex-start;
  }

  div.rightLinks {
    justify-content: flex-end;
  }
  
  nav {
    display: flex;
    height: 30%;
    align-items: center;
    background-color: #064172;
    border: 6px outset grey;
  }
  
  .profile-pic {
    height: 20%;
    width: 10%;
    margin: 40px;
    float: left;
  }

  article {
    background-color: #42BFDD;
    padding: 2em;
    height: 50%;
    text-align: left;
    justify-items: right;
  }